#### DB settings ####
DATABASE_ENGINE=
DATABASE_NAME=
DATABASE_USER=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE_PORT=


#### Email Settings #####
MAILHOST=
MAILPASS=
ADMIN=

### Level Price ###
LEVEL1=
LEVEL2=
LEVEL3=
LEVEL4=
LEVEL5=

### link ###
MANAGER_ACCEPT_URL='http://127.0.0.1:8000/'
#online : 'https://makemymenu.io/'